.container{
    width: 100%;
    height: 400px;
    background-color: lightblue;
    display: grid;

    /* grid-template-columns: 25% 25% 25% 25%; */

    /* grid-template-columns:repeat(4,25%); */

    grid-template-columns: repeat(4,20%);

    /* using fraction */
    /* grid-template-columns: 1fr 1fr 2fr;  */

    /* grid-template-rows: repeat(3,auto) ;  */

 /* justify-items: center;

    align-items: center; */

    /* rather than doing this we can use place-items :
    syntax:
    place-items: align-items justify-items; */
    /* place-items: center start; */

    justify-content: start;

    /* align-content: center; */
   
}

.container .item{
    background-color: blue;
    color: white;
    margin: 5px;
}