*{
    margin: 0;
    padding: 0;
}

div{
    background-color: pink;
    color: purple;
}

/* For smaller screens */

@media screen and (min-width: 320px) and (max-width: 480px){

div{
    background-color: aliceblue;
    color: aqua;
}

}